.v
{
    background:url("../assets/imgs/b5.jpg");
    background-size:cover;
    
}
#t{
    color:black;
    font-size:22px;
    font-family:lucida calligraphy;
    text-align:justify;
}
/**img{
    border-radius:50%;
}**/
