p{
    font-size:22px;
    font-family:comic sans MS ;
}
.d{
    background:url("../assets/imgs/d2.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}
.dance{
    font-family:harrington;
    font-size:40px;
    color:blue;

}
.sing{
    font-family:harrington;
    font-size:40px;
    color:blue;
}

