page-tech {
    .card-title {
        position: absolute;
        top: 36%;
        text-align: center;
        font-size: 2.0em;
        width: 90%;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }

      

}
